{% extends "blog/base.html" %}
{% block content %}
  <h1>About </h1>
  <p>Welcome to my Blog Web App! <br>
This is a space where ideas, projects, and experiences come to life. Here, you’ll not only find posts about programming, tech, and personal learning journeys, but you can also share your own thoughts by creating blogs.

As a reader and contributor, you can:

Explore posts on coding, technology, and creative projects

Write and publish your own blogs to share with others

Connect with ideas, stories, and knowledge from different perspectives

About Me

I’m someone who loves learning, building, and sharing through technology. Python and web development are my main focus, but I’m always curious about trying new things. This blog started as a personal project, and it’s growing into a space where others can also share their voice.

Outside of coding, I enjoy exploring new ideas, reading, and finding ways to create something meaningful.

Thanks for stopping by — and feel free to write your own blog here too!</p>
  <p>Created by <strong>Setu Shankhdhar</strong>.</p>
{% endblock %}
